:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acccent-color: #2196f3;
    --primary-white-color: #ffffff;
    --black-color: #000000;
    --text-footer: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #f5f4fa;
    --title-text-color: #212121;
    --footer-bg-color: #2f303a;
}
body{
    color:var(--primary-text-color);
    background-color:var(--secondary-bg-color);
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
}
    a {text-decoration: none;}
    
    ul {
        list-style: none;
        }

/* Навігація*/
 .nav-std {
    font-family: 'Raleway';
    letter-spacing: 0.03em;
     color:var(--acccent-color);
    line-height: calc(24 / 14)
 }

 .nav-web {
    font-family: 'Raleway';
    letter-spacing: 0.03em;
     color:var(--black-color);
    line-height:calc(16 / 14);
 }

 .nav a{
    color:var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(16 / 14);
 }
.nav a:hover, .nav:focus{

color:var(--acccent-color);
font-weight: 500;
letter-spacing: 0.02em;
line-height: calc(16 / 14);
}
.contacts a{
    color:var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: calc(16 / 14);
}
.contacts a:hover,
.contacts a:focus{
    color:var(--acccent-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: calc(16 / 14);
}
/*Структура діяльності*/
.hero{
    background:var(--footer-bg-color);
}
.hiro-title{
    color:var(--primary-white-color);
font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 
}

.hero .button{
background:var(--acccent-color);
color:var(--primary-white-color);
    cursor: pointer;
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
}

.item {
    font-weight: 700;
       letter-spacing: 0.03em;
        text-transform: uppercase;
    line-height: calc(16 / 14);
        color:var(--title-text-color);
}
/*Чим ми займаємося*/
.content{
    font-weight: 700;
    line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
    color:var(--title-text-color);
}
/*Наша команда*/
.user{
    font-style: normal;
        font-weight: 500;
      line-height: calc(19 / 16);
    text-align: center;
        letter-spacing: 0.03em;
    color:var(--title-text-color);
}
/*Кнопки*/
.button{
    color:var(--title-text-color);
    background:var(--secondary-bg-color);
    font-style: normal;
        font-weight: 500;
    line-height: calc(26 / 16);
        text-align: center;
    color:var(--title-text-color);
}

.button:hover,.button:focus {
    background:var(--acccent-color);
    color: #FFFFFF;
    font-style: normal;
        font-weight: 500;
        line-height: calc(26 / 16);
    text-align: center;
}
/*Футер*/
.address{
    background:var(--footer-bg-color);
}
.address-cont{
    font-style: normal;
    font-weight: 400;
    line-height: calc(24 / 14);
    color: #FFFFFF;
}
.tel{
    font-style: normal;
        font-weight: 400;
    line-height: calc(24 / 14);
        letter-spacing: 0.03em;
     color:var(--text-footer);
}
/*Портфолио*/
.socials{
    font-style: normal;
     font-weight: 700;
      line-height: calc(36 / 18);
    letter-spacing: 0.06em;
     color:var(--title-text-color);
}
.text{
    font-style: normal;
    font-weight: 400;
    line-height: calc(30 / 16);
}
